<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Modelos</li>
</ol>
<table class="table table-striped table-hover table-bordered">
	<caption>Modelos de <%= @name%></caption>
	<thead>
		<tr>
			<th>Nome</th>
		</tr>
	</thead>
	<tbody>
  <% @models.each do |model| %>
		<tr>
			<td><%= model.name %></td>
		</tr>
  <% end %>
	</tbody>
</table>
