<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<%= form_tag("/models", method: "POST") do %>
	<div class="form-group">
	  <%= label_tag :make_webmotors_id, "Escolha a Fabricante:" %>
	  <%= collection_select(:make, :webmotors_id, Make.all, :webmotors_id, :name, {}, {:class=>'form-control'}) %>
	</div>
	  <%= submit_tag("Buscar modelos", class: 'btn btn-primary') %>
<% end %>
